@model TracNghiemT01.Models.TbKetQua

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbKetQua</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKetQua" class="control-label"></label>
                <input asp-for="IdKetQua" class="form-control" />
                <span asp-validation-for="IdKetQua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguoiDung" class="control-label"></label>
                <select asp-for="IdNguoiDung" class ="form-control" asp-items="ViewBag.IdNguoiDung"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBaiThi" class="control-label"></label>
                <select asp-for="IdBaiThi" class ="form-control" asp-items="ViewBag.IdBaiThi"></select>
            </div>
            <div class="form-group">
                <label asp-for="TongDiem" class="control-label"></label>
                <input asp-for="TongDiem" class="form-control" />
                <span asp-validation-for="TongDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianNop" class="control-label"></label>
                <input asp-for="ThoiGianNop" class="form-control" />
                <span asp-validation-for="ThoiGianNop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuTuHienThi" class="control-label"></label>
                <input asp-for="ThuTuHienThi" class="form-control" />
                <span asp-validation-for="ThuTuHienThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TonTai" class="control-label"></label>
                <input asp-for="TonTai" class="form-control" />
                <span asp-validation-for="TonTai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSinhVien" class="control-label"></label>
                <select asp-for="IdSinhVien" class ="form-control" asp-items="ViewBag.IdSinhVien"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

