@model TracNghiemT01.Models.TbChuDe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbChuDe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdChuDe" class="control-label"></label>
                <input asp-for="IdChuDe" class="form-control" />
                <span asp-validation-for="IdChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMonHoc" class="control-label"></label>
                <select asp-for="IdMonHoc" class ="form-control" asp-items="ViewBag.IdMonHoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenChuDe" class="control-label"></label>
                <input asp-for="TenChuDe" class="form-control" />
                <span asp-validation-for="TenChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuTuHienThi" class="control-label"></label>
                <input asp-for="ThuTuHienThi" class="form-control" />
                <span asp-validation-for="ThuTuHienThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TonTai" class="control-label"></label>
                <input asp-for="TonTai" class="form-control" />
                <span asp-validation-for="TonTai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

